@tailwind base;
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 2px; /* Set the width to your desired thickness */
  }
  
  /* Track */
  *::-webkit-scrollbar-track {
    background: transparent; /* Make the track transparent */
  }
  
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar line */
  }
  
  /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar line on hover */
  }
  
@tailwind components;
@tailwind utilities;
